# Servidor
/Servers

# Arquivos Gerais
.metadata
.class
.jar
.war
.recommenders/

# Configurações
RemoteSystemsTempFiles

# Projeto
pedidos/.settings/*
pedidos/.classpath
pedidos/.gitignore
pedidos/.project
pedidos/.tern-project
pedidos/pom.xml